[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cvgenai = {file = ".", editable = true}
jinja2 = "3.1.6"
markdown2 = "2.5.3"
openai = "1.84.0"
python-dotenv = "1.1.0"
tomli = "2.2.1"
weasyprint = "65.1"

[dev-packages]
graphviz = "0.20.3"
pylint = "3.3.7"
pytest = "8.3.5"
pytest-cov = "6.1.1"

[requires]
python_version = "3.12"
