[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
jinja2 = "*"
markdown2 = "*"
python-dotenv = "*"
weasyprint = "*"
tomli = "*"

[dev-packages]

[requires]
python_version = "3.12"
